@font-face {
  font-family: "MyFont";
  src: url("./webfonts/fa-regular-400.woff2") format("woff2"), url("./webfonts/fa-regular-400.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

.webpacked {
  color: blue;
  background: url("./webpack.svg");
  /* font-family: "MyFont"; */
}
